@media (min-width: 320px) { 

    .margen_izquierda,
    .margen_derecha {
        padding: 0px;
    }

    .audios_cuadrados {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        "texto"
        "ejemplo"
        ;
        background-color: #30745b;
        border-radius: 50px;
        margin-top: 30px;
    }

    .audios_cuadrados_texto {
        font-size: 100%;
    }

    .audios {
        margin-bottom: 30px !important;
    }

    .audios_cuadrados_imagen_logo {
        display: none;
    }

    .audios_cuadrados_ejemplo {
        margin-bottom: 20px;
    }

    .parallax_contacto {
        background-image: url(../assets/image/sueños\ cumplidos.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        margin-left: 15px;
        padding: 8%;
        margin-bottom: 0px;
    }
}

@media (min-width: 576px) { 

    .margen_izquierda,
    .margen_derecha {
        padding: 0px;
    }

    .parallax_contacto {
        background-image: url(../assets/image/sueños\ cumplidos.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        margin-left: 15px;
        padding: 8%;
    }

    .audios_cuadrados {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        "texto"
        "ejemplo"
        ;
        background-color: #30745b;
        border-radius: 50px;
        margin-top: 30px;
    }

    .audios_cuadrados_texto {
        font-size: 1.2rem;
    }

    .audios {
        margin: 24px 0px  !important;
    }

    .audios_cuadrados_imagen_logo {
        display: none;
    }

}

@media (min-width: 768px) { 
    .margen_izquierda,
    .margen_derecha {
        padding: 0px;
    }
    
    .parallax_contacto {
        background-image: url(../assets/image/sueños\ cumplidos.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        margin-left: 15px;
        padding: 8%;
    }

    .audios_cuadrados_texto {
        font-size: 1.2em;
    }
    
    .audios_cuadrados {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        "imagen texto"
        "ejemplo ejemplo"
        ;
        background-color: #30745b;
        border-radius: 50px;
    }

    .audios_cuadrados_imagen_logo {
        display: block;
    }
    
    .audios {
        margin: 24px 0px  !important;
    }

}

@media (min-width: 992px) { 
    .margen_izquierda {
        padding-left: 10%;
    }
    
    .margen_derecha {
        padding-right: 10%;
    }

    .parallax_contacto {
        background-image: url(../assets/image/sueños\ cumplidos.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        margin-left: 15px;
        padding: 8%;
    }

    .flex {
        display: flex;
        justify-content: end;
    }

    .audios_cuadrados {
        width: 100%;
        height: 90%;
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: 45% 45%;
        grid-template-areas: 
        "imagen texto"
        "ejemplo ejemplo"
        ;
        background-color: #30745b;
        border-radius: 50px;
    }

    .audios_cuadrados_texto {
        font-size: 0.85rem;
    }

    .audios_cuadrados_imagen_logo {
        height: 85px;
        padding-left: 10px;
        margin-top: 10px;
    }

    .audios {
        margin: 24px 0px  !important;
    }

}

@media (min-width: 1200px) { 
    .margen_izquierda {
        padding-left: 10%;
    }
    
    .margen_derecha {
        padding-right: 10%;
    }

    .parallax_contacto {
        background-image: url(../assets/image/sueños\ cumplidos.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        margin-left: 15px;
        padding: 8%;
    }

    .flex {
        display: flex;
        justify-content: end;
    }

    .audios_cuadrados_texto {
        font-size: 1rem;
    }

    .audios_cuadrados_imagen_logo {
        height: 100px;
    }

    .audios {
        margin-top: 30px !important;
    }

    .audios_cuadrados_ejemplo {
        margin-top: 20px;
    }

    header {
        width: auto;
        height: 15vh;
        background-image: url('../assets/image/campus.png');
        background-repeat: no-repeat;
    }
}

@media (min-width: 1400px) { 
    
    .margen_izquierda {
        padding-left: 10%;
    }

    .margen_derecha {
        padding-right: 10%;
    }
    
    .parallax_contacto {
        background-image: url(../assets/image/sueños\ cumplidos.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        margin-left: 15px;
        padding: 8%;
    }

    .audios {
        margin: 25px !important;
    }

    .audios_cuadrados_texto {
        font-size: 1.1rem;
        margin-top: 10px;
    }

    .audios_cuadrados_imagen_logo {
        height: 100%;
        padding-left: 10px;
        margin-top: 10px;
    }

    header {
        width: auto;
        height: 15vh;
        background-image: url('../assets/image/campus.png');
        background-repeat: no-repeat;
    }
}